.about {
    padding: 1rem;
    max-width: 1000px;
    &__title {
        display: inline-block;
        font-size: 3rem;
        margin: 1rem 0;
        position: relative;
        background-image: url(../../assets/60afedcba9a36d7064503b33_green-line.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 100% 100%;   
    }
    &__subtitle {
        font-size: 2.75rem;
        margin: 1rem 0;

    }
    &__text {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        line-height: 1.5;
    }
}

@include md {
    .about {
        margin: 1rem 3rem;
        &__title {
            font-size: 4rem;
        }
        &__subtitle {
            font-size: 3.5rem;
        }
        &__text {
            font-size: 1.25rem;
        }
    }
}

@include lg {
    .about {
        margin: auto;
    }
}