.about {
    padding: 1rem;
    &__title {
        font-size: 3rem;
        @include heading;
    }
    &__subtitle {
        font-size: 2.75rem;
        margin: 1rem 0;

    }
    &__text {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        line-height: 1.5;
    }
}

@include md {
    .about {
        padding: 1rem 3rem;
        &__title {
            font-size: 4rem;
        }
        &__subtitle {
            font-size: 3.5rem;
        }
        &__text {
            font-size: 1.25rem;
        }
    }
}

@include lg {
    .about {
        max-width: 1000px;
        margin: auto;
    }
}