.menu {
    padding: 3rem 1rem;
    &__heading {
        font-size: 3rem;
        @include heading;
    }
    &__card {
        margin: 1rem 0 3rem;
    }
    &__type,
    &__item {
        font-size: 2rem;
        margin: 1rem 0;
    }
    &__type:not(:first-of-type) {
        margin-top: 4rem;
    }
    &__desc {
        line-height: 1.4;
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }
}

@include md {
    .menu {
        padding: 3rem;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__card {
            width: 48%;
            margin: 1rem 0;
        }
        &__heading {
            font-size: 3.5rem;
        }
        &__type,
        &__item {
            font-size: 2.5rem;
            margin: 1rem 0;
            width: 100%;
        }
    }
}

@include lg {
    .menu {
        max-width: 1440px;
        margin: auto;
    }
}
