.offer {
    @include flex($justify-content: center, $align-items: center, $flex-direction: column);
    padding: 1rem;
    position: relative;
    padding-top: 5rem;
    overflow: hidden;
    &__title {
        font-size: 3rem;
    }
    &__subtitle {
        font-size: 1.5rem;
        margin: 0 0 1rem;
    }
    &__doodles {
        position: absolute;
        top: 0%;
        width: 70px;
        overflow: hidden;
        &--right {
            right: 0;
            transform: rotate(-115deg);
        }
        &--left {
            left: -20px;
            transform: rotate(115deg);
        }
    }
    &__wrapper {
        @include flex($justify-content: center, $align-items: center, $flex-direction: column);
        width: 100%;
    }
    &__tabs {
        @include flex($justify-content: space-between, $align-items: center);
        max-width: 450px;
        margin: 0 0 2rem;
        width: 100%;
        &-item {
            @include flex($justify-content: center, $align-items: center, $flex-direction: column);
            width: 30%;
            text-align: center;
            cursor: pointer;
            // &--active {
            //     background-color: $dark-orange;
            // }
        }
    }
    &__menu-icon {
        &--burgers {
            width: 80px;
        }
        &--sides {
            width: 65px;
        }
        &--drinks {
            width: 50px;
        }
    }
    &__container {
        width: 100%;
        min-height: 800px;
    }
    &__table {
        display: none;
        animation: fadeEffect 1.5s;
        position: relative;
        &--active {
            display: block;
        }
    }
    &__next {
        width: 85px;
        margin-left: auto;
    }
    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        overflow: hidden;
    }
    
}


@include md {
    .offer {
        padding: 1rem 3rem;
        padding-top: 5rem;
        
        &__doodles {
            width: 100px;
        }
        &__title {
            font-size: 5rem;
        }
        &__subtitle {
            font-size: 2rem;
            margin: 1rem 0 2rem;
        }
        &__slide {
            @include flex($justify-content: space-between, $align-items: flex-start);
        }
        &__container {
            min-height: 500px;
        }
    }
}


@include lg {
    .offer {
        padding: 1rem 3rem;
        padding-top: 5rem;
        &__container {
            min-height: 600px;
        }
        &__doodles {
            width: 200px;
        }
        &__wrapper {
            max-width: 1440px;
            margin: auto;
        }
    }
}