$white: #fff;
$black: #000;

$light-black: #242424;
$grey: rgba(255, 255, 255, 0.1);
$orange: #fbbd30;
$dark-orange: #fbb042;
$light-grey: rgba(255, 255, 255, 0.6);
$silver-text: #666666;
$warning-red: #e63e30;